@model IEnumerable<Tiksoret.Models.TicketReserve_tbl>
@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Search Result</h2>

<center>
    <table class="table">
        <thead>
            <tr>
                <th>Aeroplane Company Name</th>
                <th>From</th>
                <th>To</th>
                <th>Seats Avilable</th>
                <th>Flight Time</th>
                <th>Flight Date</th>
                <th>Seat Type</th>
                <th>Price</th>
                <th></th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.ss)
            {
            <tr>
                <td>
                    @{
                        int pi = int.Parse(@item.PlaneID.ToString());
                        var dd = new Tiksoret.Models.OurDBContext();
                        var pname = dd.PlaneInfo.Where(a => a.PlaneID == pi).FirstOrDefault();
                        @pname.APlaneName
                    }
                </td>

                <td>@item.ResFrom</td>
                <td>@item.ResTo</td>
                <td>@item.PlaneSeat</td>
                <td>@item.ResTime</td>
                <td>@item.ResDepDate</td>
                <td>@item.ResPlaneType</td>
                <td>@item.ResTicketPrice</td>
                <td>
                    @if (Session["ID"] == null)
                    {
                        <a href="@Url.Action("Login", "User")" class="btn btn-success">Please login first</a>
                    }
                    else
                    {
                        if(@item.PlaneSeat==0 )
                        {
                            <a>Flight capacity is full!</a>
                        }
                        else
                        {
                            <a href = "@Url.Action("Create", "FlightBookings", new { @fid = item.ResID })" class="btn btn-success">Book Flight Now</a>
                        }

                    }
                </td>
            </tr>
            }



        </tbody>
    </table>
</center>

