<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TRAVELER </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/Tmp2/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Tmp2/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Tmp2/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Tmp2/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <div class="navbar-brand">
                    <h1 class="m-0 text-primary">
                       
                    @Html.ActionLink("TRAVLER", "Index", "FlightBook", new { area = "" }, new { @class = "navbar-brand" })
                    </h1>

                </div>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">


                        @if (Session["ID"] != null)
                        {
                            @Html.ActionLink("My Bookings", "Index2", "FlightBookings", new { area = "" }, new { @class = "navbar-brand" })
                            <h6 style="color:black">Hello @Session["Username"].ToString()</h6>
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Register", "Register", "User", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Admin Login", "AdminLogin", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    </div>
                </div>
        </div>
    </div>

    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Flight Bookings</h3>
            </div>
        </div>
    </div>
    <!-- Header End -->









    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Travel With Us</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>